# fly.toml configuration for polymarket-network
app = 'polymarket-network'
primary_region = 'lax'

[build]

[env]
  PORT = "8000"
  REFRESH_INTERVAL = "600"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = "polymarket_data"
  destination = "/app/data"
